<button type="button" @onclick="@TriggerStateChange"><span class="oi oi-chat" aria-hidden="true"></span> Trigger!</button>
<h2>DeadLetterCountTotal: @_appState.DeadLetterCountTotal</h2>
<h2>InFlightCountTotal: @_appState.InFlightCountTotal</h2>
<h2>SuccessfulRequeueCountTotal: @_appState.SuccessfulRequeueCountTotal</h2>
