@using DeadLetterRedemption.Blazor.Pages;

<div class="navbar navbar-dark top-row">
    <span class="main-title">
        <a class="navbar-brand mt-2" href="">Dead Letter</a>
        <a class="navbar-brand" href="">Redemption</a>
        <SideDashboard></SideDashboard>
    </span>
    <span class="main-title-small align-items-center justify-content-between">
        <a class="navbar-brand" href="">Dead Letter Redemption</a>
        <SideDashboard></SideDashboard>
    </span>
</div>
